name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main
      - "feature/**"
    paths-ignore:
      - ".github/workflows/*"
      - "README.md"
  workflow_dispatch:

jobs:
  # This is first job, which runs on ubuntu-latest
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Install Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm run test

  build:
    needs: test-job
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Install Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install Dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
      - name: Upload This Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: dist

  deploy-job:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    # Deploy to the GitHub Pages environment
    environment:
      name: github-pages
      # This is the URL of the deployed page
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: See GitHub Token
        run: echo "GitHub_Token -  ${{ secrets.GITHUB_TOKEN }}"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
