name: Read Secrets File

on: push

jobs:
  read-secrets-file:
    runs-on: ubuntu-latest
    steps:
      - name: Testing Secrets
        env:
          DEVOPS: ${{ secrets.TEST }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "$DEVOPS" == "TEST" ]; then
            echo "Got the secret token"
          fi
          if [ "$GITHUB_TOKEN"]; then
            echo "Got the github token"

      - name: Read Environment Variables
        run: |
          echo "GITHUB_ACTIONS - $GITHUB_ACTIONS"
          echo "HOME: $HOME"
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          echo "GITHUB_ACTIONS: $GITHUB_ACTIONS"
          echo "GITHUB_API_URL: $GITHUB_API_URL"
          echo "GITHUB_EVENT_PATH: $GITHUB_EVENT_PATH"
          echo "GITHUB_JOB: $GITHUB_JOB"
          echo "GITHUB_REPOSITORY: $GITHUB_REPOSITORY"
          echo "GITHUB_SHA: $GITHUB_SHA"
          echo "GITHUB_OS: $GITHUB_OS"
